{% extends 'base.html.twig' %}

{% block title %}News index{% endblock %}

{% block body %}
    {% block header %} {{ parent() }} {% endblock %}
    <h3>News index</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Category</th>
                <th>Title</th>
{#                <th>Body</th>#}
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for news in news %}
            <tr>
                <td>{{ news.id }}</td>
                <td>{{ news.category }}</td>
                <td><a href="{{ path('news_show', {'id': news.id}) }}">{{ news.title }}</a></td>
{#                <td>{{ news.body }}</td>#}
                <td>{{ news.createdAt ? news.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('news_edit', {'id': news.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('news_new') }}">Create new</a>
{% endblock %}
