{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
    {% block header %} {{ parent() }} {% endblock %}
    <div class="ps-3">
        <h3 class="ps-1">{{ news.title }} </h3>
        <div class="col-6 p-4">
            {{ news.body }}
        </div>
        <div id="dateCreate" class="form-text">
            {{ news.createdAt ? news.createdAt|date('d-M-Y H:i:s') : '' }}
        </div>
    </div>

    <div class="ps-3">
        <a href="{{ path('news_index') }}">Назад</a>
    </div>

{% endblock %}
